
{% extends 'common.html' %}

{% block biswal %}
    {% include 'main_menu.html' %}
    <form action="{% url 'new_password' %}" method="post">
    {% csrf_token %}
    <table align="center" border="2">
    <tr><th>Change Password</th></tr>
    <tr><th><input type="password" placeholder="Old password" required name="x1"></th></tr>
    <tr><th><input type="password" placeholder="New Password" required name="x2"></th></tr>
    <tr><th><input type="password" placeholder="Confirm Password" required name="x3"></th></tr>
    <tr><th><button type="submit" name="x4">Save</button> </th></tr>
          {% if error %}
            {{ error }}
        {% endif %}
    </table>
    </form>
{% endblock %}