
{% extends 'common.html' %}

{% block biswal %}
    {% include 'main_menu.html' %}
    <div>
    <table align="center" border="2">
    {% for x in data %}
        <tr><th rowspan="5"><img src="{{ x.photo.url }}" width="200" height="200"></th></tr>
        <tr><th>No</th><th>{{ x.no }}</th></tr>
        <tr><th>Name</th><th>{{ x.name }}</th></tr>
        <tr><th>price</th><th>{{ x.price }}</th></tr>
        <tr><th>Quantity</th><th>{{ x.quantity }}</th></tr>
        <tr><th colspan="3">
            <form action="{% url 'add_to_cart' %}">
                <input type="hidden" required name="c1" value="{{ x.no }}">
                <input type="hidden" required name="c2" value="{{ x.name }}">
            <button onclick="fun1">
               Add to Cart
           </button>
         </form>
        </th>
        </tr>
    {% endfor %}
    </table>
    {% if data %}
        {{ result }}
    {% endif %}
     {% if length %}
        <input type="hidden" value="{{ length }}" name="l">
    {% endif %}
    </div>
    <script>
          function fun1() {
              x = document.getElementById("myid").value
              x+=1
              document.getElementById("myid").innerHTML=x

          }
    </script>
{% endblock %}